SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_SECRET=
SUPER_ADMIN_PASSWORD=

ARCHIVE_PROVIDER=s3
ARCHIVE_AFTER_DAYS=30
ARCHIVE_DELETE_PRIMARY_AFTER_SUCCESS=false
ARCHIVE_S3_BUCKET=classshow-archive-prod
ARCHIVE_S3_REGION=auto
ARCHIVE_S3_ENDPOINT=
ARCHIVE_S3_ACCESS_KEY_ID=
ARCHIVE_S3_SECRET_ACCESS_KEY=
ARCHIVE_S3_FORCE_PATH_STYLE=true

ASYNC_VIDEO_TRANSCODE=true
TRANSCODE_LOOP_INTERVAL_MS=120000
TRANSCODE_MIN_AGE_MS=360000
TRANSCODE_BATCH_SIZE=
VIDEO_TRANSCODE_THREADS=

HOT_STORAGE_FREE_QUOTA_BYTES=1073741824
HOT_STORAGE_PREPARE_BYTES=429496729
HOT_STORAGE_ARCHIVE_BYTES=536870912
HOT_STORAGE_ACCELERATE_BYTES=751619276
HOT_STORAGE_CRITICAL_BYTES=912680550
